.bg-header{
    background-color:#FFF9F4 ;
}
.bg-button{
    background-color: #4747cc;
}
.text-orenge{
    color: #FA804C;
}
.text-blue{
    color: #303058;
}
.font-big{
    font-size: 5rem;
}
.bg-shoes{
    background-color: #a6a6aa23;
}